---
interface Props {
  blog?: boolean;
}

const { blog } = Astro.props;

const mainLink = blog ? '/blog' : '/';
const mainText = blog ? 'zielino/blog' : 'zielino';
---

<header>
  <nav>
    <div class='align-left'>
      <a href={mainLink}>{mainText}</a>
    </div>
    <div class='align-right'>
      {
        blog ? (
          <>
            <a href='/'>zielino/</a>
          </>
        ) : (
          <>
            <a href='/blog'>blog</a>
          </>
        )
      }
    </div>
  </nav>
</header>

<style>
  nav {
    padding: 30px 25px;
    display: block;
  }

  nav a {
    font-weight: 600;
  }

  .align-left {
    float: left;
  }

  .align-right {
    float: right;
  }

  .align-right a {
    padding-right: 10px;
  }
</style>
