@font-face {
  font-family: 'Rowdies';
  src: url('./assets/rowdies/rowdies-regular-webfont.woff2') format('woff2'),
    url('./assets/roboto/roboto-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('./assets/roboto/roboto-regular-webfont.woff2') format('woff2'),
    url('assets/roboto/roboto-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('./assets/roboto/roboto-bold-webfont.woff2') format('woff2'),
    url('./assets/roboto/roboto-bold-webfont.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  background: #2d2d2d;
}

/* width */
::-webkit-scrollbar {
  width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #202020;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #4f4f4f;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #333;
}
